<ng-container *ngIf="gameState!='start'">
    <a-scene>
        <a-entity light="castShadow: false; type: ambient; color: white; intensity: 1;"></a-entity>
        <a-entity light="type: directional; color: #FFF; intensity: 0.8" position="-0.5 1 1"></a-entity>

        <a-assets>
            <app-a-assets></app-a-assets>
        </a-assets>

        <a-sky id="sky" #sky src="assets/images/londonSky1.jpg"></a-sky>

        <a-entity #rig id="rig" movement-controls rotation="0 -30 0">
            <a-entity camera id="camera" #camera look-controls position="-5.6 1.6 20" camera-listener></a-entity>
        </a-entity>

        <a-gltf-model src="#qubeTest" position="0 0.02 16.1"></a-gltf-model>
        <a-gltf-model src="#secondFloorSign" position="0 0.02 4.1" rotation="0 180 0"></a-gltf-model>
        <a-gltf-model #QueenswayRoad186 src="#roadQueensway" position="-6.6 0.01 27" rotation="0 90 0"
            scale="1.5 1.5 1.5">
        </a-gltf-model>
        <a-gltf-model #QueenswayRoad185 src="#roadQueensway" position="5.5 0.01 24" rotation="0 90 0"
            scale="1.2 1.2 1.2">
        </a-gltf-model>
        <a-gltf-model #QueenswayRoad184 src="#roadQueensway" position="-6.6 0.01 56.5" rotation="0 90 0"
            scale="1.5 1.5 1.5">
        </a-gltf-model>
        <a-gltf-model #QueenswayRoad183 src="#roadQueensway" position="5.5 0.01 48.5" rotation="0 90 0"
            scale="1.2 1.2 1.2">
        </a-gltf-model>
        <a-gltf-model #QueenswayRoad182 src="#roadQueensway" position="-6.6 0.01 86.5" rotation="0 90 0"
            scale="1.5 1.5 1.5">
        </a-gltf-model>
        <a-gltf-model #QueenswayRoad181 src="#roadQueensway" position="5.5 0.01 72.5" rotation="0 90 0"
            scale="1.2 1.2 1.2">
        </a-gltf-model>

        <a-plane #ground rotation="-90 0 0" width="50" height="50" color="black"></a-plane>

        <a-plane #sideWalkWestgroveSouth rotation="-90 -90 0" width="4" height="50" color="grey" position="-37 0.01 6"
            src="assets/images/pavement.jpg"></a-plane>
        <a-plane #sideWalkQueenswayWest rotation="-90 0 0" width="4" height="130" color="grey" position="-14 0.02 69.5"
            src="assets/images/pavement.jpg"></a-plane>

        <a-gltf-model src="#singleTrafficLight" position="-4 0 -7"></a-gltf-model>
        <a-gltf-model src="#bikeStand" position="-8.6 0.7 -6" scale="0.7 0.7 0.7" rotation="0 8 0"></a-gltf-model>
        <a-gltf-model src="#bikeStand" position="-10.2 0.7 -5.8" scale="0.7 0.7 0.7" rotation="0 8 0"></a-gltf-model>
        <a-gltf-model src="#bikeStand" position="-11.8 0.7 -5.6" scale="0.7 0.7 0.7" rotation="0 8 0"></a-gltf-model>
        <a-gltf-model src="#bikeStand" position="-7 0.7 -15" scale="0.7 0.7 0.7" rotation="0 8 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-10.5 0 -10" scale="1 1.5 1" rotation="0 -90 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-13 0 -30" scale="1 1.5 1" rotation="0 -90 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="13 0 50" scale="1 1.5 1" rotation="0 65 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="13 0 100" scale="1 1.5 1" rotation="0 65 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-15 0 50" scale="1 1.5 1" rotation="0 -90 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-15 0 100" scale="1 1.5 1" rotation="0 -90 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-25 0 7.5" scale="1 1.5 1" rotation="0 0 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-60 0 7.5" scale="1 1.5 1" rotation="0 0 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="-100 0 7.5" scale="1 1.5 1" rotation="0 0 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="28 0 -14" scale="1 1.5 1" rotation="0 180 0"></a-gltf-model>
        <a-gltf-model src="#spotLight" position="68 0 -20" scale="1 1.5 1" rotation="0 180 0"></a-gltf-model>


        <a-plane #queensway186West position="-16 12 17" height="24" width="18" rotation="0 90 0"
            src="assets/images/queensway186West.jpg">
        </a-plane>

        <a-plane #queensway184West position="-16 12 34" height="24" width="16" rotation="0 90 0"
            src="assets/images/queensway184West.jpg">
        </a-plane>

        <a-plane #queensway182West position="-16 10 54" height="20" width="24" rotation="0 90 0"
            src="assets/images/queensway182.jpg">
        </a-plane>

        <a-plane #queensway180West position="-16 10 78" height="20" width="24" rotation="0 90 0"
            src="assets/images/queensway180.jpg">
        </a-plane>

        <a-plane #midRoadQueensway186 rotation="-90 0 0" width="2" height="32" color="rgb(142, 142, 144)"
            position="0 0.02 27" src="assets/images/midRoadQueensway.jpg"></a-plane>

        <a-plane #midRoadQueensway184 rotation="-90 0 0" width="2" height="32" color="rgb(142, 142, 144)"
            position="0 0.02 59" src="assets/images/midRoadQueensway.jpg"></a-plane>

        <a-plane #crossroadQueenswayWest rotation="-90 90 0" width="2.3" height="11" color="rgb(137, 127, 117)"
            position="-6.5 0.02 10" src="assets/images/crossRoad.jpg"></a-plane>

        <a-plane #crossroadQueenswayEast rotation="-90 -90 0" width="2.6" height="9" color="rgb(137, 127, 117)"
            position="5.5 0.04 10" src="assets/images/crossRoad.jpg"></a-plane>

        <a-plane #sideWalkBishopsRoad2 rotation="-90 -82 0" width="5" height="100" color="grey" position="58.8 0.03 0"
            src="assets/images/pavement.jpg"></a-plane>

        <a-plane #sideWalkQueenswayEast rotation="-90 0 0" width="4" height="130" color="grey" position="12 0.02 69.5"
            src="assets/images/pavement.jpg"></a-plane>

        <a-plane #queensway185East position="16.8 10 10.95" height="20" width="8" rotation="0 -134 0"
            src="assets/images/queensway185North.jpg">
        </a-plane>

        <a-plane #queensway185East position="14 10 21.8" height="20" width="16" rotation="0 -90 0"
            src="assets/images/queensway185East.jpg">
        </a-plane>

        <a-plane #queensway183East position="14 10 36.8" height="20" width="14" rotation="0 -90 0"
            src="assets/images/queenswayEast183.jpg">
        </a-plane>

        <a-plane #queensway183East position="14 10 55.8" height="20" width="24" rotation="0 -90 0"
            src="assets/images/queensway181.jpg">
        </a-plane>

        <a-plane #queensway183East position="14 6 79.8" height="12" width="24" rotation="0 -90 0"
            src="assets/images/queensway179.jpg">
        </a-plane>

        <a-plane #queensway179East position="3.66 12 -32.7" height="24" width="40" rotation="0 -82 0"
            src="assets/images/queensway179East.jpg">
        </a-plane>

        <a-plane #queensway181East position="-1.8 9 -72.3" height="18" width="40" rotation="0 -82 0"
            src="assets/images/queensway181East.jpg">
        </a-plane>

        <a-plane #crossroadQueensway181 rotation="-90 98 0" width="4" height="5" color="rgb(137, 127, 117)"
            position="-0.7 0.02 -10" src="assets/images/crossRoad.jpg"></a-plane>

        <a-plane #queensway179West position="-14.1 10 -28.3" height="20" width="40" rotation="0 98 0"
            src="assets/images/queensway179West.jpg">
        </a-plane>

        <a-plane #queensway181West position="-19.6 10 -67" height="20" width="40" rotation="0 98 0"
            src="assets/images/queensway181West.jpg">
        </a-plane>

        <a-plane #queensway183East position="-8 9 -116.8" height="18" width="50" rotation="0 -82 0"
            src="assets/images/queensway183East.jpg">
        </a-plane>

        <a-plane #queensway183West position="-26.4 9 -110.8" height="18" width="50" rotation="0 98 0"
            src="assets/images/queensway183East.jpg">
        </a-plane>


        <!---------------- WESTBOURNEGROVE STREET ----------------->

        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-22.6 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-43 0.01 0.2" rotation="0 0 0" scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-63.4 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-83.8 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-104.2 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-124.6 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-145 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>
        <a-gltf-model #WestbourneGroveRoad1 src="#roadQueensway" position="-165.4 0.01 0.2" rotation="0 0 0"
            scale="1 1 1">
        </a-gltf-model>

        <a-plane #sidewalkWestbourneGrove5South rotation="-90 -90 0" width="5" height="130" color="grey"
            position="-75.5 0.01 -6.1" src="assets/images/pavement.jpg">
        </a-plane>

        <a-gltf-model #trafficLightWestbourneGrove2 src="#singleTrafficLight" position="-13 0 -4.5" rotation="0 -70 0">
        </a-gltf-model>

        <a-gltf-model #trafficLightWestbourneGrove1 src="#singleTrafficLight" position="-18 0 5" rotation="0 -70 0">
        </a-gltf-model>

        <a-plane #westbourneGrove5South position="-31.2 10 -8.55" height="20" width="40" rotation="0 0 0"
            src="assets/images/westbourneGrove5South.jpg">
        </a-plane>

        <a-plane #westbourneGrove5North position="-31 12 8" height="24" width="30" rotation="0 180 0"
            src="assets/images/westbourneGrove5North.jpg">
        </a-plane>

        <!---------------- BISHOPS BRIDGE ROAD ---------->

        <a-plane #sideWalkBishopsBridgeToNorth rotation="-90 8 0" width="5" height="130" color="grey"
            position="-4.2 0.02 -71.4" src="assets/images/pavement.jpg"></a-plane>

        <a-gltf-model src="#telephoneBooth" position="33 0.2 -13" scale="1.3 1.3 1.3" rotation="0 188 0"></a-gltf-model>
        <a-gltf-model src="#telephoneBooth" position="20 0.2 4.5" scale="1.3 1.3 1.3" rotation="0 8 0"></a-gltf-model>
        <a-gltf-model src="#telephoneBooth" position="38 0.2 0.5" scale="1.3 1.3 1.3" rotation="0 188 0"></a-gltf-model>

        <a-gltf-model #bishopsBridgeRoadToNorth src="#roadQueensway" position="-7.1 0.01 -55" rotation="0 98 0"
            scale="5 0.7 0.7"></a-gltf-model>

        <a-gltf-model src="#qubeTest" position="6 0.02 -1" rotation="0 -82 0"></a-gltf-model>

        <a-gltf-model src="#qubeTest" position="19 0.02 -3" rotation="0 98 0"></a-gltf-model>

        <a-plane #crossroadBishopsBridge1 rotation="-90 188 0" width="4" height="6" color="rgb(137, 127, 117)"
            position="13 0.02 1" src="assets/images/crossRoad.jpg"></a-plane>

        <a-plane #crossroadBishopsBridge2 rotation="-90 8 0" width="4" height="6" color="rgb(137, 127, 117)"
            position="12 0.02 -5" src="assets/images/crossRoad.jpg"></a-plane>

        <a-plane #midRoadBishopsBridge1 rotation="-90 98 0" width="2" height="72" color="rgb(142, 142, 144)"
            position="50.2 0.02 -7.4" src="assets/images/midRoadQueensway.jpg"></a-plane>

        <a-plane #sideWalkBishopsBridgeToNorth rotation="-90 8 0" width="8" height="130" color="grey"
            position="-15.8 0.02 -69.6" src="assets/images/pavement.jpg"></a-plane>


        <a-gltf-model #bishopsBridgeRoad1 src="#roadQueensway" position="23.7 0.01 -3.6" rotation="0 8 0"
            scale="1.6 1.6 1.6">
        </a-gltf-model>
        <a-gltf-model #bishopsBridgeRoad1 src="#roadQueensway" position="124.4 0.01 -17.74" rotation="0 8 0"
            scale="8.6 1.6 1.6"></a-gltf-model>

        <a-plane #sideWalkBishopsRoad1 rotation="-90 -82 0" width="6" height="100" color="grey"
            position="56.3 0.03 -17.3" src="assets/images/pavement.jpg"></a-plane>
        <a-plane #bishopsBridge1South position="21.3 12 -15" height="24" width="30" rotation="0 8 0"
            src="assets/images/bishopsBridge1Southjpg.jpg">
        </a-plane>
        <a-plane #bishopsBridge3South position="51 12 -19.1" height="24" width="30" rotation="0 8 0"
            src="assets/images/bishopsBridge3Southjpg.jpg">
        </a-plane>
        <a-plane #bishopsBridge5South position="80.6 12 -23.2" height="24" width="30" rotation="0 8 0"
            src="assets/images/bishopsBridge5Southjpg.jpg">
        </a-plane>
        <a-plane #bishopsBridge7South position="125 9 -29.5" height="18" width="60" rotation="0 8 0"
            src="assets/images/bishopsBridge7South.jpg">
        </a-plane>
        <a-plane #bishopsBridge9South position="177 9 -35.8" height="18" width="60" rotation="0 8 0"
            src="assets/images/bishopsBridge9South.jpg">
        </a-plane>

        <a-plane #bishopsBridge2North position="49.2 12 3.9" height="24" width="60" rotation="0 188 0"
            src="assets/images/bishopsBridge2North.jpg">
        </a-plane>

        <a-plane #bishopsBridge4North position="108.6 12 -4.4" height="24" width="60" rotation="0 188 0"
            src="assets/images/bishopsBridge4North.jpg">
        </a-plane>

        <a-plane #bishopsBridge6North position="168 12 -12.8" height="24" width="60" rotation="0 188 0"
            src="assets/images/bishopsBridge6North.jpg">
        </a-plane>


        <!----------------------------------------------- CARS ------------------------------->
        <ng-container *ngFor="let v of vehicles">
            <ng-container *ngIf="v.enabled">
                <a-gltf-model id="{{v.id}}" src="" position="0 0 0" scale="{{v.scale}}"></a-gltf-model>
            </ng-container>
        </ng-container>


        <!-------------------------------------------- HUMANS ---------------------------------->
        <ng-container *ngFor="let h of humans">
            <ng-container *ngIf="h.enabled">
                <a-gltf-model id="{{h.id}}" src="" position="0 0 0" scale="{{h.scale}}" animation-mixer></a-gltf-model>
            </ng-container>
        </ng-container>

    </a-scene>
</ng-container>