<a-asset-item id="trafficLight" src="assets/images/models/car/dangerous-cars.glb"></a-asset-item>
<a-asset-item id="singleTrafficLight" src="assets/images/trafficLight.glb"></a-asset-item>
<a-asset-item id="qubeTest" src="assets/images/qubeTest.glb"></a-asset-item>
<a-asset-item id="secondFloorSign" src="assets/images/secondFloorSign.glb"></a-asset-item>
<a-asset-item id="roadQueensway" src="assets/images/roadQueensway.glb"></a-asset-item>
<a-asset-item id="bikeStand" src="assets/images/bikeStand.glb"></a-asset-item>
<a-asset-item id="telephoneBooth" src="assets/images/telephoneBooth.glb"></a-asset-item>
<a-asset-item id="spotLight" src="assets/images/spotLight.glb"></a-asset-item>


<!-- Vehicles -->
<a-asset-item id="van1" src="assets/images/van1.glb"></a-asset-item>
<a-asset-item id="taxi" src="assets/images/taxi.glb"></a-asset-item>
<a-asset-item id="miniCooper" src="assets/images/miniCooper.glb"></a-asset-item>
<a-asset-item id="fordFocus" src="assets/images/fordFocus.glb"></a-asset-item>


<!-- Humans -->
<a-asset-item id="human1" src="assets/images/human1.glb"></a-asset-item>
<a-asset-item id="woman1" src="assets/images/woman1.glb"></a-asset-item>
<a-asset-item id="woman2" src="assets/images/woman2.glb"></a-asset-item>

